@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.icon-link {
  stroke: black;
  cursor: pointer;
}

.icon-link:hover {
  stroke: #0070f3;
  cursor: pointer;
}

.rdp-caption_label {
  font-size: 1rem;
  @apply px-3;
}

.button {
  @apply px-3 py-2 rounded-md text-white bg-blue-700;
  &:hover {
    @apply bg-blue-800;
  }
}

.atcb-button {
  border: 1px solid red !important;
  box-shadow: none;
}

